@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 0;
    padding: 0;
    margin-bottom: 10px;
}

h1 {
    font-family: "Amatic SC", Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 0;
}
img {
    max-width: 100%;
}
.logo {
    width: 60px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    justify-content: space-between;
    border: solid 1.5px;
    border-radius: 7px;
    padding: 4px;
    width: 100%;
}

.search input {
    border: none;
    margin-right: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.search button {
    height: 21.3px;
    width: 21.3px;
    margin-left: 0;
    padding: 0;
    background: none;
    border: none;
    border-left: solid 1.5px;
    
}
.search_icon {
    padding-left: 2px;
}

hr {
    width: 100%;
}

#recipe-list {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.recipe {
    border: solid;
    border-radius: 7px;
    border-width: 1.5px;
    padding: 15px;
}

.type {
    border: solid;
    border-width: 1.5px;
    padding: 5px 7px;
    max-width: fit-content;
}

.name {
    color: #59c3c3;
    font-family: "Amatic SC", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2px;
}
.description {
    display: none;
}
.social {
    display: flex;
    justify-content: center;
}

.social a {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.social a img {
    width: 9vh;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    font-size: .8em;
    text-decoration: none;
    color: #59c3c3;
    margin-top: 5px;
}

@media screen and (min-width: 600px){
    .recipe {
        display: flex;
        flex-direction: row;
    }

    .recipe img {
        max-width: 50%;
        margin-right: 20px;
    }
    .description {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media screen and (min-width: 800px){
    body {
        margin-left: 12%;
        margin-right: 12%;
    }
}