html {
    margin: 0 auto;
}
body {
    margin: 0 12% 0 12%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
}
.skiptocontent a {
    position: absolute;
    top: -40px;
    background-color: #E76F51;
    color: white;
    padding: 7px 7px;
	/* set the element to absolute positioning */
	/* move it off screen */
	/* Make sure it will be on the left edge of the screen */
	/* Change the background and color to something that stands out */
}
.skiptocontent a:focus {
    position: absolute;
    top: 0px;
    left: 0px;

	/* Move it back on when focused */
}
h1 {
    background-color: #2A9D8F;
    color: white;
    padding: 50px;
    margin: 0;
}
hr {
    border-top: #E76F51;
    border-color: #E76F51;
    border-width: 2px;
}
nav a {
    text-decoration: none;
    color: #264653;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

nav li {
    margin-right: 20px;
    margin-left: 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #264653;
}

.book1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.book2 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.filters {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    text-align: center;
}

.details {
    grid-column: 1 / 2;
}

.summary {
    grid-column: 2 /3;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    color: #264653;
}
